<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.selectionsystem.dao.StudentMapper">
    <select id="getStudentById" parameterType="int" resultType="com.example.selectionsystem.model.Student">
        SELECT * FROM students WHERE id = #{id}
    </select>

    <select id="getStudentByName" parameterType="String" resultType="com.example.selectionsystem.model.Student">
        SELECT * FROM students WHERE name = #{name}
    </select>

    <insert id="insertStudent" parameterType="com.example.selectionsystem.model.Student">
        INSERT INTO students (name, password)
        VALUES (#{name}, #{password})
    </insert>
</mapper>
